* {
  margin: 0;
  padding: 0;
  background-color: red;
  font-family: monospace;
}

header {
padding: 10px;
}

header > h1 {
 text-align: center;
 color: rgb(238, 255, 0);
 font-size: 5rem;
}

ul {
  padding: 0;
  margin: 0;
  width: 300px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 20px;
  margin: auto;
  margin-bottom: 30px;
}

ul > li > button {
  font-size: 2em;
  background-color: rgb(238, 255, 0);
  color: red;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

ul > li > button:hover {
 background-color: rgba(238, 255, 0,0.6);
}

.container {
  background-color: white;
  height: 500px;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
}

.container > h2 {
  background-color: inherit;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.container > p{
  background-color: blue;
  font-size: 2em;
  font-weight: 700;
  color: rgb(238, 255, 0);
  padding: 10px;
  margin-bottom: 20px;
}

.clear-btn {
  display: block;
  font-size: 2em;
  font-weight: 700;
  color: rgb(238, 255, 0);
  padding: 10px;
  border: none;
  margin: 0 auto;
  border-radius: 8px;
  cursor: pointer;
}